<div class="sc-element">
    @Edit.Toolbar()
    <h1>Data Source Types</h1>
    <div>
        
        contains the data types of all official eav data sources
        
    </div>
    <div>
        Click here 
        @Edit.Toolbar(actions: "app", settings: new { hover = "none", show = "always" }) 
        to manage the app. In there, export the types in the export UI (go to debug-mode)
    </div>
</div>

@Html.Partial("../System-Types/Part ExportBundles.cshtml")
